EXT_PACKAGES_NAME[17]="luci-app-adguardhome"
EXT_PACKAGES_PATH[17]=""
EXT_PACKAGES_REPOSITORIE[17]="https://github.com/chenmozhijin/luci-app-adguardhome"
EXT_PACKAGES_BRANCH[17]=""
EXT_PACKAGES_NAME[25]="luci-app-openclash"
EXT_PACKAGES_PATH[25]="luci-app-openclash"
EXT_PACKAGES_REPOSITORIE[25]="https://github.com/vernesong/OpenClash"
EXT_PACKAGES_BRANCH[25]=""
