EXT_PACKAGES_NAME[1]="luci-app-store"
EXT_PACKAGES_PATH[1]="luci-app-store"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/linkease/istore"
EXT_PACKAGES_BRANCH[1]=""
EXT_PACKAGES_NAME[3]="luci-app-webadmin"
EXT_PACKAGES_PATH[3]="applications/luci-app-webadmin"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[3]=""
EXT_PACKAGES_NAME[17]="luci-app-adguardhome"
EXT_PACKAGES_PATH[17]=""
EXT_PACKAGES_REPOSITORIE[17]="https://github.com/chenmozhijin/luci-app-adguardhome"
EXT_PACKAGES_BRANCH[17]=""
EXT_PACKAGES_NAME[19]="luci-app-diskman"
EXT_PACKAGES_PATH[19]="applications/luci-app-diskman"
EXT_PACKAGES_REPOSITORIE[19]="https://github.com/lisaac/luci-app-diskman"
EXT_PACKAGES_BRANCH[19]=""
EXT_PACKAGES_NAME[22]="luci-theme-argon"
EXT_PACKAGES_PATH[22]=""
EXT_PACKAGES_REPOSITORIE[22]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCH[22]=""
EXT_PACKAGES_NAME[25]="luci-app-openclash"
EXT_PACKAGES_PATH[25]="luci-app-openclash"
EXT_PACKAGES_REPOSITORIE[25]="https://github.com/vernesong/OpenClash"
EXT_PACKAGES_BRANCH[25]=""